# Data Visualization
----

In [40]:
# Dependencies

# Pandas
import pandas as pd
import sqlalchemy 
import psycopg2


#MatPlotLib/NumPy/SciPy

%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

# SQL Alchemy
from sqlalchemy import create_engine

#connect to local database
engine = create_engine('postgresql://postgres:postgres@localhost/Employee_SQL')
connection = engine.connect()

In [41]:
engine.table_names()

C:\Users\User\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['departments',
 'employees',
 'dept_emp',
 'dept_manager',
 'salaries',
 'title_id']

In [51]:
employees= pd.read_sql('select * from employees', connection)


salaries= pd.read_sql('select * from salaries', connection)


titles= pd.read_sql('select * from title_id', connection)


dept_manager = pd.read_sql('select DISTINCT dept_no from dept_manager', connection)

departments = pd.read_sql('select * from departments', connection)



#test 

#employees
#salaries
titles
#dept_manager
#departments

    title_id               title
0  ﻿title_id               title
1      s0001               Staff
2      s0002        Senior Staff
3      e0001  Assistant Engineer
4      e0002            Engineer
5      e0003     Senior Engineer
6      e0004    Technique Leader
7      m0001             Manager